<!--
<script data-th-src="@{js/jquery.min.js}"></script>
<script data-th-src="@{js/tether/tether.min.js}"></script>
<script data-th-src="@{js/bootstrap/bootstrap.min.js}"></script>
<script data-th-src="@{js/waves/waves.min.js}"></script>
<script data-th-src="@{js/jquery.scrollbar/jquery.scrollbar.min.js}"></script>
<script data-th-src="@{js/jquery-scrollLock/jquery-scrollLock.min.js}"></script>
<script data-th-src="@{js/bootstrap-notify/bootstrap-notify.min.js}"></script>

<script data-th-src="@{js/multiple-select/multiple-select.js}"></script>
<script data-th-src="@{js/dropzone/dropzone.min.js}"></script>
<script data-th-src="@{js/jquery-validate/additional-methods.min.js}"></script>
<script data-th-src="@{js/jquery-validate/messages_zh.min.js}"></script>

<script data-th-src="@{/js/jsTree/jstree.js}"></script>

<script data-th-src="@{js/bootstrap-table/bootstrap-table.min.js}"></script>

<script data-th-src="@{js/jqTreeGrid/jquery.treegrid.js}"></script>
<script data-th-src="@{js/jqTreeGrid/jquery.treegrid.extension.js}"></script>

<script data-th-src="@{js/highchart/highcharts.js}"></script>
<script data-th-src="@{js/highchart/exporting.js}"></script>
<script data-th-src="@{js/highchart/highcharts-zh_CN.js}"></script>

<script data-th-src="@{js/daterangepicker/moment.min.js}"></script>
<script data-th-src="@{js/daterangepicker/daterangepicker.js}"></script>
-->
<!--<script data-th-src="@{js/common.js}"></script>-->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap/popper.min.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>
<!--导致Dropdown需要点击2下-->
<!--<script src="/js/bootstrap/bootstrap.bundle.js"></script>-->
<script src="/js/bootstrap-notify/bootstrap-notify.min.js"></script>
<!--/*--> 通知弹窗 <!--*/-->
<script src="/js/common.js"></script>
<!--/*-->表单验证<!--*/-->
<script data-th-src="@{js/jquery-validate/jquery.validate.min.js}"></script>
<!--/*-->表格<!--*/-->
<script data-th-src="@{js/bootstrap-table/bootstrap-table.min.js}"></script>
<!--/*--> 表格配置文件 <!--*/-->
<script data-th-src="@{js/bootstrap-table/locale/bootstrap-table-zh-CN.js}"></script>
<!--/*--> 弹窗 <!--*/-->
<script data-th-src="@{js/sweetalert2/sweetalert2.js}"></script>
