<div class="card">
    <div data-th-include="system/grade/gradeAdd"></div>
    <div class="card-block">
        <div class="table-responsive">
            <div id="data-table_wrapper" class="dataTables_wrapper">
                <div class="dataTables_buttons hidden-sm-down actions">

                    <span class="actions__item zmdi zmdi-search" onclick="search()" title="搜索"/>
                    <span class="actions__item zmdi zmdi-refresh-alt" onclick="refresh()" title="刷新"/>
                    <!--/*--> 删除用户 <!--*/-->
                    <span href="javascript:void(0)" class="actions__item zmdi zmdi-delete"
                          sec:authorize="hasAuthority('user:add')" onclick="deleteUsers()" title="删除用户"></span>

                    <!--/*--> 导出 <!--*/-->
                    <span class="actions__item zmdi zmdi-download" title="导出数据到.csv表格" onclick="exportUserCsv()"> </span>
                    <!--/*--> 导入  style="height: 28px;width: 15px;"<!--*/-->
                    <span class="actions__item zmdi zmdi-upload" id="uploadFile"
                          data-target="#modal-container-1571832312" data-toggle="modal" title="导入到数据库"></span>

                </div>
                <!--/*--> 表格搜索条件 <!--*/-->
                <div id="data-table_filter" class="dataTables_filter">
                    <form class="user-table-form form">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon"> 身份证： </span>
                                    <div class="form-group">
                                        <input type="text" name="id" class="form-control">
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon"> 姓名： </span>
                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control">
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon"> 录取状态： </span>
                                    <div class="form-group">
                                        <select class="form-control" name="state">
                                            <option value="" selected>所有</option>
                                            <option value="审核通过">录取</option>
                                            <option value="未审核">预录取</option>
                                            <option value="审核失败">未录取</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <table id="userTable" data-mobile-responsive="true" class="mb-bootstrap-table text-nowrap"></table>
            </div>
        </div>
    </div>
</div>


<script data-th-src="@{js/app/system/grade/grade.js}"></script>
<script data-th-src="@{js/app/system/grade/gradeEdit.js}"></script>