<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gobyte.apply.dao.user.userMapper">
    <resultMap id="BaseResultMap" type="cn.gobyte.apply.pojo.user.User">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="systemId" jdbcType="BIGINT" property="systemid"/>
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="tswt" jdbcType="VARCHAR" property="tswt"/>
        <result column="mmda" jdbcType="VARCHAR" property="mmda"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="sid" jdbcType="VARCHAR" property="sid"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="birthd" jdbcType="VARCHAR" property="birthd"/>
        <result column="gender" jdbcType="VARCHAR" property="gender"/>
        <result column="mz" jdbcType="VARCHAR" property="mz"/>
        <result column="zzmm" jdbcType="VARCHAR" property="zzmm"/>
        <result column="tel" jdbcType="VARCHAR" property="tel"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="school" jdbcType="VARCHAR" property="school"/>
        <result column="schoolc" jdbcType="VARCHAR" property="schoolc"/>
        <result column="major" jdbcType="VARCHAR" property="major"/>
        <result column="gkbmh" jdbcType="VARCHAR" property="gkbmh"/>
        <result column="bkmajor" jdbcType="VARCHAR" property="bkmajor"/>
        <result column="mcode" jdbcType="VARCHAR" property="mcode"/>
        <result column="jl" jdbcType="VARCHAR" property="jl"/>
        <result column="tc" jdbcType="VARCHAR" property="tc"/>
        <result column="lxaddress" jdbcType="VARCHAR" property="lxaddress"/>
        <result column="yb" jdbcType="VARCHAR" property="yb"/>
        <result column="state" jdbcType="VARCHAR" property="state"/>
        <result column="sj" jdbcType="VARCHAR" property="sj"/>
        <result column="zkzh" jdbcType="VARCHAR" property="zkzh"/>
        <result column="sf" jdbcType="VARCHAR" property="sf"/>
        <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime"/>
        <result column="theme" jdbcType="VARCHAR" property="theme"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="account_status" jdbcType="INTEGER" property="accountStatus"/>
    </resultMap>

    <!--注册一个User用户到数据库内，并返回主键到systemId属性中-->
    <!--public Integer register(oldUser oldUser);-->
    <!--suppress SqlInsertValues -->
    <insert id="register" parameterType="cn.gobyte.apply.pojo.user.User" useGeneratedKeys="true"
            keyProperty="systemId">
        INSERT INTO `users`
        VALUES (#{systemId}, #{id}, #{password}, #{tswt}, #{mmda}, #{email}, #{sid}, #{name}, #{birthd}, #{gender},
                #{mz}, #{zzmm}, #{tel},
                #{address}, #{school}, #{schoolc}, #{major}, #{gkbmh}, #{bkmajor}, #{mcode}, #{jl}, #{tc}, #{lxaddress},
                #{yb}, #{state}, #{sj}, #{zkzh}, #{sf},
                #{creatTime}, #{modifyTime}, #{lastLoginTime}, #{theme}, #{avatar}, #{description}, #{accountStatus})
    </insert>


    <!--查询身份证号是否存在数据库，True存在；false不存在；-->
    <!--public Integer queryId(String id);-->
    <select id="queryId" parameterType="String" resultType="Integer">
        SELECT *
        FROM `users`
        WHERE id = #{id}
    </select>

    <!--查询用户列表-->
    <!--    List<User> findUserByUsernameOrIdNumber(User user);-->
    <select id="findUserByUsernameOrIdNumber" resultType="cn.gobyte.apply.pojo.user.User"
            parameterType="cn.gobyte.apply.pojo.user.User">

        SELECT u.`systemId` systemId, u.`id`, u.`name`, u.`email`, u.`bkmajor`, u.`state`,u.`creat_time`
        creatTime,u.`gender`
        FROM `users` u
        LEFT JOIN `t_user_role` ur ON(u.`sid` = ur.`ROLE_ID`)
        WHERE sid = 2 /*1为管理员，2为普通用户*/
        <if test="id != null and id != ''">
            AND u.id = #{id}
        </if>
        <if test="name != null and name != ''">
            AND u.name = #{name}
        </if>
        <if test="state != null and state != ''">
            AND u.state = #{state}
        </if>
        ORDER BY u.`systemId`

    </select>

    <!--查询所有信息给POJO，主要是为了导出excel-->
    <!--List<User> findAllUserByUsernameOrIdNumber(User user);-->
    <select id="findAllUserByUsernameOrIdNumber" resultType="cn.gobyte.apply.pojo.user.User"
            parameterType="cn.gobyte.apply.pojo.user.User">
        SELECT *
        FROM `users` u
        LEFT JOIN `t_user_role` ur ON(u.`sid` = ur.`ROLE_ID`)
        WHERE sid = 2 /*1为管理员，2为普通用户*/
        <if test="id != null and id != ''">
            AND u.id = #{id}
        </if>
        <if test="name != null and name != ''">
            AND u.name = #{name}
        </if>
        <if test="state != null and state != ''">
            AND u.state = #{state}
        </if>
        ORDER BY u.`systemId`
    </select>

    <!--
            <if test="username != null and username != ''">
            AND u.username = #{username}
        </if>
        <if test="deptId != null and deptId != ''">
            AND d.dept_id = #{deptId}
        </if>
        <if test="ssex != null and ssex != ''">
            AND u.ssex = #{ssex}
        </if>
        <if test="status != null and status != ''">
            AND u.status = #{status}
        </if>
    -->
    <!--    void deleteUserByUserId(String userIds); -->
    <!--按用户Id删除用户-->
    <update id="deleteUserByUserId" parameterType="String">
        UPDATE users
        SET users.`isDelete` = '0'
        WHERE users.`id` = #{userIds}
    </update>


</mapper>