<!--
作者：山岚
邮箱：misterchou@qq.com
时间：2019年3月25日22:33:40
描述：登陆主页
-->
<!--suppress ALL -->
<!DOCTYPE html>
<html lang="ZH" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>武昌工学院专升本报名系统-登陆</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <!-- Bootstrap Table CSS -->
    <link rel="stylesheet" href="/css/bootstrap-table/bootstrap-table.css">
    <!-- animate -->
    <link rel="stylesheet" href="/css/animate/animate.min.css">
    <!--    <link rel="stylesheet" href="/css/app.css" type="text/css">-->


    <style type="text/css">
        /*        #logo {
                    height: 113px;
                    width: 491px;
                    background-image: url(img/a);
                    margin-right: auto;
                    margin-bottom: 0px;
                    margin-left: auto;
                    float: left;
                    padding: 0px;
                    z-index: 1;
                }*/

        .zhuti {
            padding-top: 60px;
        }

        body {
            background: url("/img/cc.png") no-repeat;
            z-index: 0;
        }

        .biaoti {
            padding-bottom: 30px;
            background: rgba(255, 255, 255, 0.3);
            width: 330px;
            margin: 0px;
        }

        /*登陆框效果*/

        .form {
            background: rgba(255, 255, 255, 0.3);
            width: 330px;
            border-top: 0px;
        }

        /*登录按钮*/

        .loginBtn {
            float: right;
        }

        .problem, .answer, .password, .gradeTable {
            display: none;
        }

    </style>
</head>

<body>
<div class="container-fluid zhuti">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <h3 class="biaoti text-center">武昌工学院专升本报名</h3>
        </div>
        <div class="col-md-4">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
        </div>

        <!--/*--> 第二格子开始 <!--*/-->
        <div class="col-md-4 one">

            <!--/login"-->
            <form class="form" role="form" action="#" method="post">
                <div class="form-group">
                    <label for="username" style="width: 100%;">
                        <strong>账 户：</strong>
                    </label>
                    <input type="text" class="form-control" placeholder="邮箱/身份证号"
                           autofocus="autofocus" name="username" id="username" autocomplete="username"
                           value="421127199909098888"/>
                </div>

                <div class="form-group">
                    <label for="loginPassword" style="width: 100%;">
                        <strong>密 码：</strong>
                    </label>
                    <input type="password" class="form-control" placeholder="请输入密码"
                           name="password" id="loginPassword" autocomplete="current-password" value="123456"/>
                </div>

                <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#modal-container-78946">
                    找回密码
                </button>
                <button type="button" class="btn btn-primary loginBtn">
                    确认登陆
                </button>
            </form>

            <br/><br/>

            <!--查询成绩-->
            <button type="button" class="btn btn-success" data-toggle="modal"
                    data-target="#modal-container-15615">
                查询成绩
            </button>

            <!--注册账户-->
            <a id="modal-981481" href="#" role="button" class="btn btn-success" data-toggle="modal"
               data-target="#modal-container-981481">注册账户</a>

            <!--/*--> 第二格子结束 <!--*/-->
        </div>

        <!--/*-->
        第三格子
        <!--*/-->
        <div class="col-md-4"><br/>


        </div>

        <!--/*-->
        遮罩层-注册
        <!--*/-->
        <div class="modal fade" id="modal-container-981481" tabindex="-1"
             role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <!--修改客户信息-弹出框 /register-->
                <div class="modal-content">
                    <form role="form" action="" id="register-form" method="post" class="registration-form">
                        <!--表单标题-->
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">立即注册</h4>

                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <!--须知-->
                            <div id="card-280741">
                                <div class="card">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse"
                                           data-parent="#card-280741" href="#card-element-863612">报名须知，点击阅读</a>
                                    </div>
                                    <div id="card-element-863612" class="collapse">
                                        <div class="card-body">
                                            <strong>注册前请先阅读注意事项</strong>
                                            <p>
                                                欢迎您报名武昌工学院专升本考试，请仔细阅读以下注意事项：<br/> 一、报名须知：
                                                <br/> （一）报名本人必须是
                                                <span th:text="${#dates.format(#dates.createNow(),'yyyy')}"></span>届应届普通高职/高专毕业生，并能够如期毕业并获得毕业证书；
                                                <br/>
                                                （二）报名本人在校期间未受到任何纪律处分；
                                                <br/> （三）报名填写信息必须真实准确。
                                                <br/> 二、本系统仅为
                                                <span th:text="${#dates.format(#dates.createNow(),'yyyy')}"></span>年武昌工学院专升本考试报名专用，若有疑问请致电武昌工学院教务处综合科：027-88151859
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--主体-->

                            <div class="form-group">
                                <input type="text" name="id" id="idNumber" placeholder="身份证号（用户名）"
                                       class="form-first-name form-control"
                                       value="421127199909098888"
                                       data-toggle="tooltip" tabindex="1" title="你的身份证号，请务必正确">
                            </div>
                            <!--密码-->
                            <div class="form-group">
                                <input type="text" name="password" id="password" placeholder="密码"
                                       class="form-first-name form-control" value="1"
                                       data-toggle="tooltip" tabindex="1" title="密码长度6-20位">
                            </div>
                            <div class="form-group">
                                <input type="text" name="password2" id="password2" placeholder="再次输入密码"
                                       class="form-first-name form-control" value="1"
                                       data-toggle="tooltip" tabindex="1" title="密码长度6-20位，请再输入一次">
                            </div>

                            <!--邮箱-->
                            <div class="form-group">
                                <input type="email" name="email" placeholder="邮箱/Email"
                                       class="form-control" id="email"
                                       value="hi@gobyte.cn"
                                       data-toggle="tooltip" tabindex="1" title="你的邮箱号">
                            </div>

                            <!--问题-->
                            <div class="form-group">
                                <input type="text" name="tswt" placeholder="提示问题"
                                       class="form-first-name form-control" value="提示问题"
                                       data-toggle="tooltip" tabindex="1" title="设置一个问题，用于找回密码">
                            </div>

                            <div class="form-group">
                                <input type="text" name="mmda" placeholder="问题答案"
                                       class="form-control" value="问题答案"
                                       data-toggle="tooltip" tabindex="1" title="设置问题的答案，用于找回密码">
                            </div>

                            <!--姓名-->
                            <div class="form-group">
                                <input type="text" name="name" placeholder="姓名（务必真实）"
                                       class="form-control" value="名字"
                                       data-toggle="tooltip" tabindex="1" title="你的真实姓名，务必要与身份证一致">
                            </div>

                            <!--性别gender-->
                            <div class="form-group">
                                <label>性别：</label>
                                <label class="radio-inline">
                                    <input type="radio" name="gender" id="optionsRadios3" value="男">
                                    男
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="gender" id="optionsRadios4" value="女">
                                    女
                                </label>
                            </div>
                            <!--报考专业 bkmajor-->
                            <!--/*-->
                            <div class="form-group">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button"
                                            id="dropdownMenuButton-bkzy" data-toggle="dropdown">
                                        报考专业
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-bkzy">
                                        <a class="dropdown-item" href="#">会计学</a>
                                        <a class="dropdown-item" href="#">人力资源管理</a>
                                        <a class="dropdown-item" href="#">工商管理</a>
                                        <a class="dropdown-item" href="#">工程管理</a>
                                        <a class="dropdown-item" href="#">计算机科学与技术</a>
                                        <a class="dropdown-item" href="#">机械设计制造及其自动化</a>
                                        <a class="dropdown-item" href="#">材料成型及控制工程</a>
                                        <a class="dropdown-item" href="#">电子信息工程</a>
                                        <a class="dropdown-item" href="#">土木工程</a>
                                        <a class="dropdown-item" href="#">食品质量与安全</a>
                                        <a class="dropdown-item" href="#">英语</a>
                                        <a class="dropdown-item" href="#">环境设计</a>
                                    </div>
                                </div>
                            </div>
                            <!--*/-->
                            <div class="form-group" data-toggle="tooltip" tabindex="1" title="你想报考的专业">
                                <select class="form-control" id="bkmajor" placeholder="报考专业" name="bkmajor">
                                    <option value="">报考专业</option>
                                    <option value="">会计学</option>
                                    <option value="">人力资源管理</option>
                                    <option value="">工商管理</option>
                                    <option value="">工程管理</option>
                                    <option value="">计算机科学与技术</option>
                                    <option value="">机械设计制造及其自动化</option>
                                    <option value="">材料成型及控制工程</option>
                                    <option value="">电子信息工程</option>
                                    <option value="">土木工程</option>
                                    <option value="">食品质量与安全</option>
                                    <option value="">英语</option>
                                    <option value="">环境设计</option>
                                </select>
                            </div>

                            <!--/*-->
                            政治面貌zzmm
                            <!--*/-->
                            <div class="form-group" data-toggle="tooltip" tabindex="1" title="政治面貌，请如实填写">
                                <select class="form-control" id="zzmm" placeholder="政治面貌" name="zzmm">
                                    <option value="">政治面貌</option>
                                    <option value="">党员</option>
                                    <option value="">预备党员</option>
                                    <option value="">团员</option>
                                    <option value="">群众</option>
                                    <option value="">其它</option>
                                </select>
                            </div>

                            <!--民族-->
                            <div class="form-group" data-toggle="tooltip" tabindex="1" title="身份证上面显示的民族">
                                <input type="text" name="mz" placeholder="民族"
                                       class="form-control" value="民族">
                            </div>

                            <!--电话-->
                            <div class="form-group" data-toggle="tooltip" tabindex="1" title="手机号/电话，务必准确有效">
                                <input type="text" name="tel" placeholder="手机号"
                                       class="form-control" value="电话手机号">
                            </div>
                            <!--家庭住址-->
                            <div class="form-group" data-toggle="tooltip" tabindex="1" title="家庭住址，务必真实有效">
                                <input type="text" name="address" placeholder="家庭地址"
                                       class="form-control" value="家庭地址">
                            </div>
                            <!--毕业学校-->
                            <div class="form-group" data-toggle="tooltip" tabindex="1" title="目前就读的大专学校名字">
                                <input type="text" name="school" placeholder="大专就读学校"
                                       class="form-control" value="大专就读学校">
                            </div>
                            <!--学校代码-->
                            <div class="form-group" data-toggle="tooltip" tabindex="1" title="学校的代码，如不清楚请上网查询">
                                <input type="text" name="schoolc" placeholder="大专院校代码"
                                       class="form-control" value="大专学校代码">
                            </div>
                            <!--大专就读专业-->
                            <div class="form-group" data-toggle="tooltip" tabindex="1" title="你目前在大专学校就读的专业">
                                <input type="text" name="major" placeholder="大专就读专业"
                                       class="form-control" value="大专专业">
                            </div>
                            <!--高考报名号-->
                            <div class="form-group" data-toggle="tooltip" tabindex="1"
                                 title="高考报名号，如果不记得可以登陆学信网查看高考照片底部有记录">
                                <input type="text" name="gkbmh" id="gkbmh" placeholder="高考报名号；可以前往学信网查看照片底部有记录"
                                       class="form-control" value="12345678901234">
                            </div>
                            <!--联系地址-->
                            <div class="form-group" data-toggle="tooltip" tabindex="1" title="目前能联系到你的地址，请务必真实有效">
                                <input type="text" name="lxaddress" placeholder="联系地址"
                                       class="form-control" value="联系地址">
                            </div>
                            <!--邮编-->
                            <div class="form-group" data-toggle="tooltip" tabindex="1" title="家庭地址的邮编">
                                <input type="text" name="yb" placeholder="邮编"
                                       class="form-control" value="邮编">
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary registerButton">注册</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--/*-->
        遮罩层-注册-end
        <!--*/-->

        <!--/*-->
        遮罩层-查询成绩
        <!--*/-->
        <div class="modal fade" id="modal-container-15615" tabindex="-1"
             role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form role="form" action="" id="grade-form" name="grade-form" method="post" class="grade-form">
                        <!--/*-->
                        表单标题
                        <!--*/-->
                        <div class="modal-header">
                            <h4 class="modal-title" id="gradeModalLabel">查询成绩</h4>
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <!--/*-->
                            主体
                            <!--*/-->
                            <div class="selectgrade">
                                <!--/*-->
                                输入信息查成绩
                                <!--*/-->
                                <div class="form-group selectgradeForm">
                                    <label for="grandName" style="width: 100%;">
                                        <strong>姓 名：</strong>
                                    </label>
                                    <input type="text" class="form-control" placeholder="姓名"
                                           autofocus="autofocus" name="name" id="grandName" autocomplete="username"
                                           value="张梦茹"/>
                                    <!--/*-->
                                    分割线
                                    <!--*/-->
                                    <label for="gradeNumber" style="width: 100%;">
                                        <strong>身份证号：</strong>
                                    </label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="身份证号"
                                               autofocus="autofocus" name="id" id="gradeNumber"
                                               autocomplete="username"
                                               value="130730199405281821"/>
                                    </div>
                                </div>
                                <!--/*-->
                                成绩查询表单
                                <!--*/-->
                                <div class="gradeTable">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-hover">
                                                    <thead>
                                                    <tr class="table-success">
                                                        <th>
                                                            科目
                                                        </th>
                                                        <th>
                                                            成绩
                                                        </th>
                                                        <!--/*-->
                                                        <th>
                                                            录取状态
                                                        </th>
                                                        <!--*/-->
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td class="km1">
                                                            C语言基础
                                                        </td>
                                                        <td class="km1f">
                                                            105
                                                        </td>
                                                        <!--/*-->
                                                        <td>
                                                        </td>
                                                        <!--*/-->
                                                    </tr>
                                                    <tr>
                                                        <td class="km2">
                                                            计算机基础
                                                        </td>
                                                        <td class="km2f">
                                                            108
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <strong>总分：</strong>
                                                        </td>
                                                        <td>
                                                            <strong class="total">213</strong>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <strong>录取状态：</strong>
                                                        </td>
                                                        <td>
                                                            <strong class="admissionState"></strong>
                                                        </td>
                                                    </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/*-->
                                成绩查询-结束
                                <!--*/-->
                            </div>

                        </div>


                        <!--/*-->
                        主体-结束
                        <!--*/-->

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary selectGradeButton">查询</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--/*-->
        遮罩层-查询成绩-end
        <!--*/-->

        <!--/*-->
        遮罩层-忘记密码
        <!--*/-->
        <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade"
             id="modal-container-78946" role="dialog" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form action="" class="registration-form" id="retrievePassword-form"
                          method="post"
                          role="form">
                        <!--/*-->
                        表单标题
                        <!--*/-->
                        <div class="modal-header">
                            <h4 class="modal-title" id="updatePasswordModalLabel">找回密码</h4>

                            <button class="close" data-dismiss="modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <!--主体-->
                            <!--/*-->
                            身份证
                            <!--*/-->

                            <div class="form-group">
                                <input type="text" name="name" id="name"
                                       placeholder="请输入您的姓名"
                                       class="form-first-name form-control" value="阿毛"
                                       data-toggle="tooltip" tabindex="1" title="请输入您的姓名">
                            </div>

                            <div class="form-group">
                                <input type="text" name="id" id="id"
                                       placeholder="请输入您的身份证号"
                                       class="form-first-name form-control" value="421127199909098888"
                                       data-toggle="tooltip" tabindex="1" title="请输入您的身份证号">
                            </div>

                            <div class="form-group" th:class="problem" disabled>
                                <input type="text" name="problem" id="problem"
                                       placeholder=""
                                       class="form-first-name form-control"
                                       data-toggle="tooltip" tabindex="1"
                                       title="这里是您之前设置的问题"
                                       value="">
                            </div>

                            <div class="form-group" th:class="answer">
                                <input type="text" name="answer" id="answer"
                                       placeholder="请输入您设置的问题的答案"
                                       class="form-first-name form-control" value=""
                                       data-toggle="tooltip" tabindex="1"
                                       title="请输入您设置的问题的答案">
                            </div>

                            <!--/*-->
                            密码
                            <!--*/-->
                            <div class="form-group" th:class="password">
                                <input type="text" name="password1" id="pw1"
                                       placeholder="请输入新密码；6位数以上"
                                       class="form-first-name form-control" value=""
                                       data-toggle="tooltip" tabindex="1"
                                       title="输入新密码">

                                <input type="text" name="password2" id="pw2"
                                       placeholder="请再次输入新密码；6位数以上"
                                       class="form-first-name form-control" value=""
                                       data-toggle="tooltip" tabindex="1"
                                       title="再次输入新密码">
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal"
                                    type="button">关闭
                            </button>

                            <button class="btn btn-primary retrievePasswordButton" type="button">开始找回</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--/*-->
        遮罩层-忘记密码-end
        <!--*/-->

    </div>
</div>
<br/><br/><br/><br/><br/><br/><br/><br/>


<!---->

<!--<div style="display: block; text-align: center;width: 100%;position: absolute;bottom: 5px;" data-th-include="common/footer"></div>-->

</body>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap/popper.min.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src="/js/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="/js/common.js"></script>
<script src="/js/iCheck/icheck.js"></script>

<script src="/js/app/loginAndReginster.js"></script>
<script type="text/javascript">
    $(function () {

        $("[data-toggle='tooltip']").tooltip();

        $(".registerButton").on("click", register);

        $(".loginBtn").on("click", login);

        $(".selectGradeButton").on("click", selectGrade);
        $(".retrievePasswordButton").on("click", retrievePassword);

    });
</script>

</html>