<!--
作者：两载
邮箱：misterchou@qq.com
时间：2019年3月25日22:33:40
描述：个人主页
-->
<!DOCTYPE html>
<html lang="ZH" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="utf-8"/>
    <title>武昌工学院专升本报名系统-登陆</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">

</head>

<body>

</body>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap/popper.min.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src="/js/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="/js/common.js"></script>
<script src="/js/iCheck/icheck.js"></script>

<script src="/js/app/loginAndReginster.js"></script>

<script type="text/javascript">
    $(function () {

        // 注册账号 registerButton|${#httpServletRequest.getContextPath()}
        // $(".registerButton").on("click", register);
    });
</script>

</html>