<html>
<head></head>
<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>准考证</title>
<meta http-equiv="Content-Language" content="zh-cn"/>

<style type="text/css">
    .STYLE2 {
        font-size: 16px
    }

    .STYLE10 {
        font-size: 24px
    }

    .STYLE11 {
        font-size: 14px
    }

    .STYLE12 {
        font-size: 20px
    }
</style>

<table width="634" id="table1" cellpadding="0" height="143">
    <tbody>
    <tr>
        <td width="634" colspan="5" align="center"><p><br/> <br/> <span class="STYLE12"> <font face="宋体">武昌工学院2016年“专升本”考试</font></span>
        </p>
            <p><span class="STYLE10"><font face="黑体">准 考 证</font> </span></p>
            <p></p></td>
    </tr>
    <tr>
    </tr>
    </tbody>
</table>
<table width="632" border="1" cellpadding="0" cellspacing="0" bordercolor="#000000" id="table2">
    <tbody>
    <tr>
        <td width="15%" height="30" align="center" bordercolor="#000000" class="STYLE2">准考证号</td>
        <td width="22%" align="center" bordercolor="#000000">&lt;%=infoitem4.getZkzh()%&gt;</td>
        <td width="22%" align="center" bordercolor="#000000" class="STYLE2">姓 名</td>
        <td colspan="2" align="center" bordercolor="#000000">&lt;%=infoitem4.getName()%&gt;</td>
        <td width="9%" align="center" class="STYLE2">性别</td>
        <td width="11%" align="center">&lt;%=infoitem4.getGender()%&gt;</td>
    </tr>
    <tr>
        <td height="30" align="center" class="STYLE2">身份证号</td>
        <td align="center">&lt;%=infoitem4.getId()%&gt;</td>
        <td align="center" class="STYLE2">报考专业</td>
        <td colspan="2" align="center">&lt;%=infoitem4.getBkmajor()%&gt;</td>
        <td colspan="2" rowspan="6" align="center" bordercolor="#000000"><img
                src="./photo/&lt;%=infoitem4.getId()%&gt;.jpg" width="100" height="140" border="0"/></td>
    </tr>
    <tr>
        <td height="30" align="center" class="STYLE2">考试科目</td>
        <td align="center">&lt;%=km1 %&gt;</td>
        <td align="center">&lt;%=km2 %&gt;</td>
        <td colspan="2" align="center"></td>
    </tr>
    <tr>
        <td height="50" rowspan="2" align="center" class="STYLE2">考试时间</td>
        <td align="center">2016年6月25日 9:00-11:00
            <!--</td--> </td>
        <td align="center">2016年6月25日13:30-15:30
            <!--</td--> </td>
        <td colspan="2" align="center">
            <!--</td--> </td>
    </tr>
    <tr>
        <td align="center"></td>
        <td align="center"></td>
        <td colspan="2" align="center"></td>
    </tr>
    <tr>
        <td rowspan="2" align="center" class="STYLE2">考试地点</td>
        <td height="30" align="center">&lt;%=js %&gt;</td>
        <td align="center">&lt;%=js %&gt;</td>
        <td colspan="2" align="center"></td>
    </tr>
    <tr>
        <td height="30" colspan="4" align="center">武昌工学院（武汉市洪山区张家湾街19号）</td>
    </tr>
    <tr>
        <td height="203" align="center" class="STYLE2">考生注意事项</td>
        <td colspan="6" align="center">
            <table cellspacing="0" cellpadding="0">
                <colgroup>
                    <col width="500"/>
                </colgroup>
                <tbody>
                <tr>
                    <td width="500"> &nbsp;&nbsp;&nbsp;&nbsp;一、考生凭准考证、身份证入室对号入座，准考证放在课桌左上角，以便查对，考试铃响开始答题。</td>
                </tr>
                <tr>
                    <td width="500">&nbsp;&nbsp;&nbsp;&nbsp;二、考生除自带必要的文具用品（钢笔、签字笔、圆珠笔、计算器、橡皮擦）外，其他物品一律不得带入考室，艺术类考生自带绘画工具，英语听力考试无须带耳机。</td>
                </tr>
                <tr>
                    <td width="500">&nbsp;&nbsp;&nbsp;&nbsp;三、各科考前15分钟打预备铃。开考15分钟后，不得进入考场；考试开始30分钟内，不得交卷出考场；交卷后不得在考场附近逗留、谈论。</td>
                </tr>
                <tr>
                    <td width="500">&nbsp;&nbsp;&nbsp;&nbsp;四、答题应写在指定的答题区域内，不得写在密封线以外或草稿纸上，否则一律无效。</td>
                </tr>
                <tr>
                    <td width="500">&nbsp;&nbsp;&nbsp;&nbsp;五、考生除遇试卷分发错误或缺页、缺题和字迹模糊等问题提问外，其它不准提问。</td>
                </tr>
                <tr>
                    <td width="500">&nbsp;&nbsp;&nbsp;&nbsp;六、考生必须严格遵守考试规则，不准吸烟、左顾右盼，凡是在考试中夹带、接传答案、交换答卷、找人代考、抄袭他人答案、带走他人答卷、携带规定以外物品入室等，考卷作零分记。</td>
                </tr>
                <tr>
                    <td width="500">&nbsp;&nbsp;&nbsp;&nbsp;七、考试结束铃响后，考生立即停止答卷。注意不得将草稿纸带走。</td>
                </tr>
                <tr>
                    <td width="500">&nbsp;&nbsp;&nbsp;&nbsp;八、本证应妥善保存，如有遗失，不补发。</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<table width="634" id="table3" cellpadding="0" height="80">
    <tbody>
    <tr>
        <td width="634" colspan="5" align="left">&nbsp;</td>
    </tr>
    <tr>
    </tr>
    </tbody>
</table>
</body>
</html>