<div class="card">
    <div data-th-include="system/user/userAdd"></div>
    <div class="card-block">
        <div class="table-responsive">
            <div id="data-table_wrapper" class="dataTables_wrapper">
                <div class="dataTables_buttons hidden-sm-down actions">
                    <span class="actions__item zmdi zmdi-search" onclick="search()" title="搜索"/>
                    <span class="actions__item zmdi zmdi-refresh-alt" onclick="refresh()" title="刷新"/>

                    <div class="dropdown actions__item" title="导出数据到表格">
                        <i data-toggle="dropdown" class="zmdi zmdi-download"> </i>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0)" class="dropdown-item" data-table-action="excel"
                               onclick="exportUserExcel()" title=".xlsx包含很多格式信息，更美观"> Excel (.xlsx) </a>
                            <a href="javascript:void(0)" class="dropdown-item" data-table-action="csv"
                               onclick="exportUserCsv()" title=".csv纯文本文件，不美观"> CSV(.csv) </a>
                        </ul>
                    </div>

                    <span href="javascript:void(0)" class="actions__item zmdi zmdi-account-add"
                          data-target="#modal-container-981481"
                          data-toggle="modal" sec:authorize="hasAuthority('user:add')" onclick="" title="新增用户"></span>

                    <span href="javascript:void(0)" class="actions__item zmdi zmdi-delete"
                          data-target="#modal-container-981481"
                          data-toggle="modal" sec:authorize="hasAuthority('user:add')" onclick="" title="删除用户"></span>

                    <!--/*-->
                    <!--菜单-->
                    <div class="dropdown actions__item"
                         sec:authorize="hasAnyAuthority('user:add','user:delete','user:update')" title="菜单">
                        <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                        <div class="dropdown-menu dropdown-menu-right">

                            <a href="javascript:void(0)" class="dropdown-item" data-target="#modal-container-981481"
                               data-toggle="modal" sec:authorize="hasAuthority('user:add')" onclick="">新增用户</a>


                            <a href="javascript:void(0)" class="dropdown-item" onclick="getUser()"
                               data-target="#modal-container-981481"
                               data-toggle="modal" sec:authorize="hasAuthority('user:update')">修改用户</a>

                            <a class="nav-link editUser" data-target="#modal-container-981481"
                               data-toggle="modal"
                               href="javascript:void(0)">修改个人信息</a>


                            <a href="javascript:void(0)" class="dropdown-item" onclick="deleteUsers()"
                               sec:authorize="hasAuthority('user:delete')">删除用户</a>
                        </div>
                    </div>
                    <!--*/-->

                </div>
                <div id="data-table_filter" class="dataTables_filter">
                    <form class="user-table-form">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon"> 身份证： </span>
                                    <div class="form-group">
                                        <input type="text" name="id" class="form-control">
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon"> 姓名： </span>
                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control">
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon"> 审核状态： </span>
                                    <div class="form-group">
                                        <select class="form-control" name="state">
                                            <option value="" selected>所有</option>
                                            <option value="审核通过">审核通过</option>
                                            <option value="未审核">未审核</option>
                                            <option value="审核失败">审核失败</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <table id="userTable" data-mobile-responsive="true" class="mb-bootstrap-table text-nowrap"></table>
            </div>
        </div>
    </div>
</div>
<script data-th-src="@{js/app/system/user/user.js}"></script>
<script data-th-src="@{js/app/system/user/userEdit.js}"></script>